/*--------------------------------------------------------------
# webkist helper
--------------------------------------------------------------*/
@mixin transition($params) {
  -webkit-transition: $params;
  -moz-transition: $params;
  -khtml-transition: $params;
  -o-transition: $params;
  transition: $params;
}

@mixin scale($params) {
  -webkit-transform: scale($params);
  -moz-transform: scale($params);
  -khtml-transform: scale($params);
  -o-transform: scale($params);
  transform: scale($params);
}

@mixin box-shadow($params) {
  -webkit-box-shadow:$params;
  -moz-box-shadow:$params;
  -khtml-box-shadow:$params;
  -o-box-shadow:$params;
  box-shadow:$params;
}

@mixin rotate($params) {
  -webkit-transform: rotate($params);
  -moz-transform: rotate($params);
  -khtml-transform: rotate($params);
  -o-transform: rotate($params);
  transform: rotate($params);
}

@mixin opacity($opacity) {
  -webkit-opacity:$opacity;
  -moz-opacity:$opacity;
  -khtml-opacity:$opacity;
  -o-opacity:$opacity;
  opacity:$opacity;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -khtml-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}


/* ===================================================================
 * # basic/base setup styles
 *
 * ------------------------------------------------------------------- */
html {
  /*font-size: 62.5%;*/
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;

}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-weight: normal;
  line-height: 1;
  word-wrap: break-word;
  -moz-font-smoothing: grayscale;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
  height: 100%;
  font-family: "Montserrat", "Roboto", sans-serif;
}

/* ------------------------------------------------------------------- 
 * ## media
 * ------------------------------------------------------------------- */
svg, img, video embed, iframe, object {
  max-width: 100%;
  height: auto;
}


/* ------------------------------------------------------------------- 
 * ## typography resets
 * ------------------------------------------------------------------- */
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

p {
  font-size: inherit;
  text-rendering: optimizeLegibility;
}

em, i {
  font-style: italic;
  line-height: inherit;
}

strong, b {
  font-weight: bold;
  line-height: inherit;
}

small {
  font-size: 60%;
  line-height: inherit;
}

ol, ul {
  list-style: none;
}

li {
  display: block;
}


/* ------------------------------------------------------------------- 
 * Links
 * ------------------------------------------------------------------- */
a {
  text-decoration: none;
  line-height: inherit;
}

a img {
  border: none;
}

/* ===================================================================
 * Header
 * ------------------------------------------------------------------- */
header {
  width: 100%;
  height: 80px;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  line-height: 1.2;
  text-align: center;
  padding: 1rem;
}

header h1 {
  font-size: 18px;
  color: rgb(110, 110, 110);
}

header .logo img {
  display: none;
}

@media only screen and (min-width: 800px) {

  header h1 {
    font-size: 25px;
  }

  header .logo img {
    float: left;
    max-height: 50px;
    display: flex;
  }

}

@media only screen and (min-width: 1200px) {

  header h1 {
    font-size: 30px;

  }

}



@media only screen and (min-width: 1200px) {

  header h1 {
    font-size: 30px;

  }

}


/* ===================================================================
 * Main
 *
 * ------------------------------------------------------------------- */
.main {
  height: calc(100% - 120px);
  min-width: 0;
  display: flex;

}

.contend {
  width: 100%;
  background-color: rgb(250, 250, 250);
  padding: 24px 12px 0 12px;
  overflow: auto;
  position: relative;
}

.question-card {
  min-width: 50%;
  width: auto;
  height: auto;
  position: relative;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
  animation: 0.3s ease-in-out 0s 1 normal none running lbWRkT;
  transition: all 0.2s ease-in 0s;
  margin-bottom: 20px;
  background-color: white;
  overflow:hidden;
}

.question-card img{
  max-width: 100%;
  max-height: 450px;
  width: 100%;
  object-fit: cover;
  opacity: 0;
  animation: ImageFadeIn .8s 0s forwards;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.question-card-header {
  font-size: 18px;
  padding: 20px 20px 16px 20px;
}

.question-card-title {
  font-size: 26px;
  color: black;
  font-weight: 700;
  margin: 0px 0px 5px;
}
.question-card-subtitle {
  font-size: 16px;
  color: gray;
  margin: 0px 0px 4px;
  font-weight: 700;
  
}

.question-card-body {
  display: block;
  padding: 20px 20px 16px 20px;
}

.card-nextbtn {
  margin-bottom: 30px;
}

/* ===================================================================
 * Mobile Menue
 *
 * ------------------------------------------------------------------- */

a.nav-item.active{
  border-left: 3px solid #6ac4ff;
}

@media only screen and (max-width: 1000px) {
  
  header h1{
    padding-left: 40px;
  }
  
  #MobileNavBtn {
    display: inline;
    border-top:3px solid #757575;
    height:25px;
    width:30px;
    box-sizing:border-box;
    position:absolute;
    z-index:30;
    left:20px;
    top:15px;
    cursor:pointer;
    @include transition(all 0.3s ease-in);
    &:before {
      content:"";
      display:block;
      position:absolute;
      height:3px;
      width:30px;
      left:0;
      background:#757575;
      top:10px;
      @include transition(all 0.3s ease-in);
    }
    &:after {
      content:"";
      display:block;
      position:absolute;
      height:3px;
      width:30px;
      left:0;
      background:#757575;
      bottom:0;
      @include transition(all 0.3s ease-in);
    }
  }

  .sidebar{
    position:absolute;
    z-index:10;
    list-style-type:none;
    margin:100px 0 0 20px;
    padding:0;
    overflow:hidden;
    li {
      height:30px;
      width:0;
      margin:30px 0;
      background:#eae8e5;
      @include transition(all 0.6s ease-in);
      & + li {
        margin-left:-40px;
        & + li {
          margin-left:-80px;
          & + li {
            margin-left:-120px;
          }
        }
      }
    }
  }
  
  
}

#MobileNavBtn {
  display: none;
}

.mobileNav {
  
  #nav li {
    width:200px;
    margin-left:0;
  }
  
  #MobileNavBtn {
    border-color:transparent;
    &:before {
      @include rotate(45deg);
      width:33px;
      left:-2px;
    }
    &:after {
      @include rotate(135deg);
      bottom:11px;
      width:33px;
      left:-2px;
    }
  }
  
  #mobileBodyContent {
    margin-left:320px;
    @include opacity (0.4);
  }
  
}

/* ===================================================================
 * Form Control
 *
 * ------------------------------------------------------------------- */

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='radio'] {
    --active: #275EFE;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #275EFE;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s;

    &:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
    }

    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }

    &:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: .9;

      &:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
      }

      & + label {
        cursor: not-allowed;
      }
    }

    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          --bc: var(--border-hover);
        }
      }
    }

    &:focus {
      box-shadow: 0 0 0 var(--focus);
    }

    &:not(.switch) {
      width: 21px;

      &:after {
        opacity: var(--o, 0);
      }

      &:checked {
        --o: 1;
      }
    }

    & + label {
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  }
  input[type='checkbox'] {
    &:not(.switch) {
      border-radius: 7px;

      &:after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
      }

      &:checked {
        --r: 43deg;
      }
    }

    &.switch {
      width: 38px;
      border-radius: 11px;

      &:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
      }

      &:checked {
        --ab: var(--active-inner);
        --x: 17px;
      }

      &:disabled {
        &:not(:checked) {
          &:after {
            opacity: .6;
          }
        }
      }
    }
  }
  input[type='radio'] {
    border-radius: 50%;

    &:after {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 0;
      transform: scale(var(--s, .7));
    }

    &:checked {
      --s: .5;
    }
  }
}

ul.ks-cboxtags {
  list-style: none;
  padding: 20px;
}
ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
  display: inline-block;
  background-color: rgba(255, 255, 255, .9);
  border: 2px solid rgba(139, 139, 139, .3);
  color: #adadad;
  border-radius: 25px;
  white-space: nowrap;
  margin: 3px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all .4s;
}

ul.ks-cboxtags li label {
  padding: 8px 12px;
  cursor: pointer;
}

ul.ks-cboxtags li label span {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-weight: 900;
  font-size: 12px;
  padding: 2px 6px 2px 2px;
  transition: transform .5s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label span {
  color: white;
  transition: transform .5s ease-in-out;
  rotation: 45deg;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
  border: 2px solid #1bdbf8;
  background-color: #12bbd4;
  color: #fff;
  transition: all .4s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: inline;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #e9a1ff;
}

.ModelProgressBar{
  position: absolute;
  left: 10%;
  bottom: 20px;
  width: 80%;
  display: block;
}

.ModelProgressBar progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  width: 100%;
}

.ModelProgressBar progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.ModelProgressBar progress[value]::-webkit-progress-value {
  background-image:
          -webkit-linear-gradient(top,
                  rgba(255, 255, 255, .25),
                  rgba(0, 0, 0, .25)),
          -webkit-linear-gradient(left, #09c, #37e757);

  border-radius: 2px;
  background-size: 35px 2px, 100% 100%, 100% 100%;
  transition : width 0.8s ease;
  
}


/* ===================================================================
 * Sidebar
 * ------------------------------------------------------------------- */

.sidebar {
  display: none;
}

@media only screen and (min-width: 1000px) {

  .sidebar {
    width: 256px;
    height: 100%;
    background-color: white;
    border-right: 1px solid rgba(0, 0, 0, 0.07);
    padding: 1rem;
    float: left;
    display: flex;
  }
}

.nav-item a, span {
  font-size: 20px;
  line-height: 30px;
  color: #6ac4ff;
  padding-right: 5px;
}


/*
//FOOTER
*/
footer {
  height: 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.07);
  background-color: rgb(240, 240, 240);
  padding-top: 10px;
}

footer p {
  padding: 0;
  margin: 0 10px;
}




.card-result summary::-webkit-details-marker {
  //color: white;
  margin-top: 10px;
}

.result-score{
  
  &_text{
  font-weight: 600;
  color: white;
  }
}

.card-result {
  position: relative;
  background: #333;
  width: 100%;
  max-width: 270px;
  height: auto;
  border-radius: 6px;
  padding: 2rem;
  color: #aaaaaa;
  box-shadow: 0 .25rem .25rem rgba(0,0,0,0.2),
  0 0 1rem rgba(0,0,0,0.2);
  overflow: auto;
  margin-bottom: 30px;

  &__image-container {
    margin: -2rem -2rem 1rem -2rem;
    min-height: 200px;
  }

  
  &__line {
    opacity: 0;
    animation: LineFadeIn .8s .8s forwards ease-in;
  }

  &__image {
    opacity: 0;
    animation: ImageFadeIn .8s 1.4s forwards;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 200px;
  }

  &__title {
    color: white;
    margin-top: 0;
    font-weight: 800;
    letter-spacing: 0.01em;
  }
  
  &__subheader {
    color: white;
    margin-top: 0;
    font-weight: 400;
    letter-spacing: 0.01em;
  }

  &__content {
    margin-top: -1.2rem;
    opacity: 0;
    animation: ContentFadeIn .8s 1.6s forwards;
  }

  &__svg {
    position: absolute;
    left: 0;
    top: 80px;
  }
}

@keyframes LineFadeIn {
  0% { opacity: 0; d: path("M 0 300 Q 0 300 0 300 Q 0 300 0 300 C 0 300 0 300 0 300 Q 0 300 0 300 "); stroke: #fff; }
  50% { opacity: 1; d: path("M 0 300 Q 50 300 100 300 Q 250 300 350 300 C 350 300 500 300 650 300 Q 750 300 800 300"); stroke: #888BFF; }
  100% { opacity: 1; d: path("M -2 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 802 400"); stroke: #545581; }
}

@keyframes ContentFadeIn {
  0% { transform: translateY(-1rem); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes ImageFadeIn {
  0% { transform: translate(-.5rem, -.5rem) scale(1.05); opacity: 0; filter: blur(2px); }
  50% { opacity: 1; filter: blur(2px); }
  100% { transform: translateY(0) scale(1.0); opacity: 1; filter: blur(0); }
}




/*--------------------------------------------------------------
# success-checkmark
--------------------------------------------------------------*/
.success-checkmark {
  width: 80px;
  height: 115px;
  margin: 0 auto;
}
.success-checkmark .check-icon {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  box-sizing: content-box;
  border: 4px solid #4caf50;
}
.success-checkmark .check-icon::before {
  top: 3px;
  left: -2px;
  width: 30px;
  transform-origin: 100% 50%;
  border-radius: 100px 0 0 100px;
}
.success-checkmark .check-icon::after {
  top: 0;
  left: 30px;
  width: 60px;
  transform-origin: 0 50%;
  border-radius: 0 100px 100px 0;
  animation: rotate-circle 4.25s ease-in;
}
.success-checkmark .check-icon::before, .success-checkmark .check-icon::after {
  content: '';
  height: 100px;
  position: absolute;
  background: #fff;
  transform: rotate(-45deg);
}
.success-checkmark .check-icon .icon-line {
  height: 5px;
  background-color: #4caf50;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 10;
}
.success-checkmark .check-icon .icon-line.line-tip {
  top: 46px;
  left: 8px;
  width: 25px;
  transform: rotate(45deg);
  animation: icon-line-tip 0.75s;
}
.success-checkmark .check-icon .icon-line.line-long {
  top: 38px;
  right: 6px;
  width: 47px;
  transform: rotate(-45deg);
  animation: icon-line-long 0.75s;
}
.success-checkmark .check-icon .icon-circle {
  top: -4px;
  left: -4px;
  z-index: 10;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  box-sizing: content-box;
  border: 4px solid rgba(76, 175, 80, .5);
}

.success-checkmark .check-icon .icon-fix {
  top: 8px;
  width: 6px;
  left: 24px;
  z-index: 1;
  height: 85px;
  position: absolute;
  transform: rotate(-45deg);
  background-color: #fff;
}

@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}

@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 15px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 15px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 26px;
  }
  84% {
    width: 17px;
    left: 24px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 8px;
    top: 45px;
  }
}
@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 6px;
    top: 38px;
  }
}

/*--------------------------------------------------------------
# loading screen
--------------------------------------------------------------*/
#root:not(:empty) + .loading-container {
  display: none;
}

.loading-container {
  height: 100%;
}

.placeholder-header {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.placeholder-content {
  height: calc(100% - 80px);
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgb(250, 250, 250);
  font-family: "Gt America Web", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: rgb(76, 76, 76);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-feature-settings: "ss01";
  font-feature-settings: "ss01";
  -webkit-font-smoothing: antialiased;
}

@-webkit-keyframes placeholder-spinner-rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes placeholder-spinner-rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.placeholder-content span {
  margin-left: 8px;
}

.placeholder-spinner {
  width: 20px;
  height: 20px;
  border-style: solid;
  border-color: rgb(76, 76, 76) rgb(76, 76, 76) rgb(211, 211, 211) rgb(211, 211, 211);
  border-width: 2px;
  border-radius: 50%;
  -webkit-animation: placeholder-spinner-rotation 0.8s linear 0s infinite normal none running;
  animation: placeholder-spinner-rotation 0.8s linear 0s infinite normal none running;
  display: inline-block;
}


#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}

/*--------------------------------------------------------------
# Partners screen
--------------------------------------------------------------*/

section h2{
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 3px solid rgba(65, 65, 65, 0.3);
}

section#overview{
  overflow: hidden;
}

embed#TechOverviewSVG{
  width: 100%;
}
embed#DMOverviewSVG{
  width: 100%;
}


.partner_card {
  background-color: white;
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 12%) 0px 4px 8px;
  margin: 0 -5px;
  padding: 10px;

  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.partner_card h3{
  font-size: 1rem;
  padding-bottom: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/*--------------------------------------------------------------
# Contact screen
--------------------------------------------------------------*/
.author{
  margin-bottom: 40px;
}

.author h3{
  font-size: 1.5rem;
  padding-bottom: 10px;
}

.author img{
  width: 200px;
  padding-bottom: 10px;
}

.author h4{
  font-size: 2rem;
  
  
}
.author h4 a{
   color: black;
   text-underline: none;
 }

/*--------------------------------------------------------------
# Results screen
--------------------------------------------------------------*/
.ui-accordion{
  margin-top: 20px;
  
}


.ui-accordion-header{
  position: relative;
  margin: 0 auto 10px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0 0 1px rgba(236,236,236,1);
  opacity: 1;
  transition: box-shadow .2s, opacity .4s;

  &:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .11);
  }
}

.ui-accordion-content{
  background: none;
}


/*--------------------------------------------------------------
# Drag and Drop
--------------------------------------------------------------*/
.plk-dd-inprogess > * {
  pointer-events: none;
}

.plk-dd-draggable{
  border-radius: 6px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
}

/*dropzone style style*/
.plk-dd-dropzone {
  min-height: 50px;
}

/*drag drop styles*/

.plk-dd-spacing {
  height: 10px;
}

.plk-dd-spacing-dragged-over {
  padding: 25px;
}

.plk-dd-dragged-over {
  background-color: lightgray;
  opacity: 0.6;
  animation: blinker 1s linear infinite;
}

.plk-dd-dragged-over > div {
  background-color: lightgray;
  opacity: 0.6;
  animation: blinker 1s linear infinite;
}

.plk-dd-dragged-over-denied {
  background-color: red;
  opacity: 0.6;
  animation: blinker 1s linear infinite;
}

.plk-dd-in-transit {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px;
}

.plk-dd-in-transit > div {
  background-color: rgba(0,0,0,0.32);
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.blink_me {
  animation: blinker 1s linear infinite;
}

/*for flex demo*/
.plk-flex .plk-dd-spacing {
  width: 20px;
  height: auto;
}

.plk-flex .plk-dd-dragged-over {
  background-color: lightgray;
  opacity: 0.6;
  animation: blinker 1s linear infinite;
}

.plk-flex .plk-dd-dragged-over > div {
  background-color: lightgray;
  opacity: 0.9;
  animation: blinker 1s linear infinite;
}

.plk-flex .plk-dd-in-transit {
  background-color: orangered;
}

.plk-flex .plk-dd-in-transit > div {
  background-color: orangered;
}

.plk-dd-noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}