@inject IJSRuntime JS;


    <button class="btn btn-outline-info card-nextbtn" @onclick="GoBack" style="margin-right: 10px;">back</button>

@code {
    
    private async Task GoBack()
    {
        await JS.InvokeVoidAsync("window.history.back");

    }
}