<footer>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <p>Made by Lennard Greve</p>
        </div>
    </div>
</footer>



@code {
    
    [Parameter] 
    public string Title { get; set; }
    
    
}