<div class="loading-container">
    <div class="placeholder-header">
    </div>
    
    <div class="placeholder-content">
      <div class="placeholder-spinner"></div>
      <span>Decision model is loading</span>
    </div>
</div>