@inherits LayoutComponentBase
@inject NavigationManager NavigationManager


<AppHeader Title="Decision model for the technology selection at IT-Startups"></AppHeader>


<div class="main">

    <NavMenu/>

    <div class="contend" id="mainContend">
        @if (NavigationManager.Uri.Contains("overview"))
        {
            <div class="container-fluid">
                @Body
            </div>
        }
        else
        {
            <div class="container">
                @Body
            </div>
        }
    </div>
        
    
</div>


<AppFooter></AppFooter>