@inherits LayoutComponentBase


<AppHeader Title="Decision model for the technology selection at IT-Startups"></AppHeader>


<div class="main">

    <NavMenu/>

    <div class="contend">
        <div class="container">
            @Body
        </div>
    </div>
        
    
</div>


<AppFooter></AppFooter>